In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import accuracy_score

In [2]:
col_names=['x1','x2','result']

In [3]:
data=pd.read_csv('C:/Users/My PC/Downloads/Student-University.csv',header=None,names=col_names)
data.head()

          x1         x2  result
0  34.623660  78.024693       0
1  30.286711  43.894998       0
2  35.847409  72.902198       0
3  60.182599  86.308552       1
4  79.032736  75.344376       1

In [4]:
X=data.iloc[:,[0,1]].values
Y=data.iloc[:,2].values

In [5]:
xp=StandardScaler().fit_transform(X)

In [6]:
kf=KFold(n_splits=5)

In [17]:
for train_index,test_index in kf.split(xp):
    X_train,X_test,Y_train,Y_test=train_test_split(xp,Y,test_size=.20,random_state=0)
    x1=X_train[:,0]
    x2=X_train[:,1]
    b0=0.0
    b1=0.0
    b2=0.0
    alpha=0.001
    epoch=10000
    while(epoch>0):
        for i in range(len(X_train)):
            prediction=1/(1+np.exp(-(b0+b1*x1[i]+b2*x2[i])))
            b0=b0+alpha*(Y_train[i]-prediction)*prediction*(1-prediction)*1.0
            b1=b1+alpha*(Y_train[i]-prediction)*prediction*(1-prediction)*x1[i]
            b2=b2+alpha*(Y_train[i]-prediction)*prediction*(1-prediction)*x2[i]
            
        epoch=epoch-1
print("b0",b0)
print("b1",b1)
print("b2",b2)

b0 0.9875270298732239
b1 2.6698848778906488
b2 2.7274062957733913

In [18]:
final_prediction=[]
x3=X_test[:,0]
x4=X_test[:,1]

In [19]:
print("y_test",Y_test)

y_test [1 0 0 0 1 1 1 1 0 1 0 0 0 1 1 1 0 1 1 1]

In [20]:
y_pred=[0]*len(X_test)
for i in range(len(X_test)):
    y_pred[i]=np.round(1/1+(np.exp(-(b0+b1*x3[i]+b2*x4[i]))))
    final_prediction.append(np.ceil(y_pred[i]))

final_prediction

[2.0,
 2.0,
 9.0,
 10.0,
 1.0,
 1.0,
 3.0,
 1.0,
 36.0,
 1.0,
 65.0,
 140.0,
 26.0,
 1.0,
 3.0,
 1.0,
 40.0,
 1.0,
 3.0,
 1.0]

In [21]:
print("Accuracy\n",accuracy_score(Y_test,y_pred))

Accuracy
 0.4