In [1]:
#importing libraries
import pandas as pd  #reading dataset
import numpy as np  #work with arrays
from matplotlib import pyplot as plt
from scipy.special import expit   # to deal with mathematical formuala
from sklearn.model_selection import train_test_split

In [2]:
#reading data
data = pd.read_csv("C:\\Users\My PC\Desktop\Student_University.csv", header = None)

In [3]:
#printing the data
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [4]:
#selecting the rows and columns using iloc and list function 
X = data.iloc[:,0:2]
Y = list(data[2])
 
#min-max normalization
for i in range(len(X)):
    X[0]= ( X[0] - X[0].min() ) / ( X[0].max() - X[0].min() ) 
    X[1] =  ( X[1] - X[1].min() ) / ( X[1].max() - X[1].min() )

In [5]:
X

           0         1
0   0.065428  0.694655
1   0.003266  0.194705
2   0.082968  0.619618
3   0.431764  0.816001
4   0.701943  0.655392
..       ...       ...
95  0.765817  0.260407
96  0.174904  0.827651
97  0.992649  0.559166
98  0.362356  0.502865
99  0.640930  0.863188

[100 rows x 2 columns]

In [6]:
#Splitting dataset as training and testing
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 111)

In [7]:
#assining the values from testing and tarining dataset
x1 = list(x_train[0])
x1_test = list(x_test[0])
x2 = list(x_train[1])
x2_test = list(x_test[1])

In [8]:
#taking the linear regression rate coefficient initial vale and e value
b = [1,0.5,0.5]
l_rate = 0.3
e = 2.71828

In [9]:
n = len(x1)

In [10]:
#defining the function for calculating the new b value
def grad_desc(b):
    p = []
    x = []
    a = 0
    for i in range(n):
        x.append(b[0] + b[1] * x1[i] + b[2] * x2[i])
        #print(x[i])
    for i in range(n):
        #print( expit(x[i]) )
        p.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )  #logistic regression formula

    for j in range(3):
        for i in range(n):
            a = l_rate * (y_train[i] - p[i]) * (p[i]) * (1 - p[i])  #learning rate using which coefficints are calculated
            if(j == 1):
                a *= x1[i]
            if(j == 2):
                a *= x2[i]
            b[j] += a 
        #print(b[j])
    return b
for i in range(5):
    b = grad_desc(b)
    #print(b[0])
#print(b)

In [11]:
x = []
pred = []
nt = len(x_test)

for i in range(nt):
    x.append(b[0] + b[1] * x1_test[i] + b[2] * x2_test[i])
for i in range(nt):
    pred.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
    
#print(pred)
for i in range(nt):
    if (pred[i] > 0.5):
        pred[i] = 1
    else:
        pred[i] = 0
#print(pred)

In [12]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[ 9  1]
 [ 0 10]]
              precision    recall  f1-score   support

           0       1.00      0.90      0.95        10
           1       0.91      1.00      0.95        10

    accuracy                           0.95        20
   macro avg       0.95      0.95      0.95        20
weighted avg       0.95      0.95      0.95        20